body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    text-decoration: black;
}

form {
    width: 800px;
    height: 700px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(190, 252, 231);
    /* position: relative; */
    /* left: 1500px; */
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

input {
    width: 400px;
    /* height: 70px; */
    position: relative;
    /* top: 200px; */
    /* font-size: xx-large; */
}

label {
    position: relative;
    /* top: 200px; */
    /* font-size: xx-large; */
}

h1 {
    font-size: 30px;
}

div{
}